<section 
class="landing-section bg-black h-screen text-center relative overflow-hidden"
data-header-colour='white'
>
    <div class="relative z-30 h-full flex flex-col">
      <header>
        <h2 class="text-white text-center pt-40 text-4xl font-semibold pb-1">Disfrute de Tesla</h2>
        <p class="text-white text-base font-medium">Programe una prueba de conducción hoy mismo</p>
      </header>
      <footer class="flex flex-grow justify-end flex-col pb-16">
        <div>
          <a class="text-white border-2 border-white bg-white/5 backdrop-blur-sm rounded text-sm font-medium px-14 py-2 inline-block hover:bg-white hover:text-black transition-colors duration-100" href="#">
            Prueba de conducción
          </a>
        </div>
      </footer>
    </div>
  
    <div class="absolute top-0 bottom-0 h-full z-20">
      <video class="object-center object-cover w-screen h-full" autoplay muted loop src="/video.webm"></video>
    </div>
  </section>
  